* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  margin: "10px 10px 0px 20px";
}

ul {
  list-style: none;
}

.app > ul {
  margin: 10px 20px;
  box-sizing: border-box;
  height: 100%;
  width: auto;
  padding: 3vh 1.5vw;
  overflow-y: auto;
}

.treeRoot {
  box-sizing: border-box;
  height: 100%;
  padding: 96px 32px 32px;
}

.draggingSource {
  opacity: 0.3;
}

.dropTarget {
  background-color: #e8f0fe;
}
